{% extends "post/base.html" %}
{% load static %}

{% block content %}
<div class="container col-md-12" style=" margin-bottom: 5rem;">
    <div class="content-section mb-2">
        <div class="border-bottom mb-0">
            <h3 class=" text-info">{{object.title}}</h3>
            <img src="{% static 'post/user-icon.png' %}" height="24">
            {% if object.author is not none %}
            <small><a href="{% url 'user-posts' object.author.username %}">{{object.author.username}} </a> | </small>
            {% else %}
            <small><a href="#">Guest </a> | </small>
            {% endif %}

            <img src="{% static 'post/date-time.jpg' %}" height="24">
            <small class="text-muted"> {{ object.date_posted|date:"d-M-y, h:i A" }}</small>
        </div>

        {% if object.author is not none or user.is_staff%}
        <div class="border-bottom mb-2 text-right">
            {% if user.is_staff or object.author == user%}
            <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'post-update' object.pk %}">Edit</a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.pk %}">Delete</a>
            {% endif %}
        </div>
        {% endif %}
        <div class="content-section">
            <h6 class="text-info">Shareable link: </h6>
            <pre><code><div class="content-section">{{request.build_absolute_uri }}</div></code></pre>
        </div>


        <pre><code>{{object.content}}</code>   
        <small class="text-muted float-right">Last Modified: {{ post.date_updated|date:"d-M-y, h:i A" }}</small>
    </pre>
    </div>
</div>
{% endblock content %}